#brands{
    padding-top: 5%;
    .brand-items{        
        img{
            padding: 10px;
            width: 295px;
            height: 65px;
            margin-left: 20px;
            color: black;
        }
    }
}