#top-seller{
    a{
        text-decoration: none;
        color: black;
    }
    // .product-thumb{
    //     display: flex;
    // }
   .slick-slide{
    margin-top: 20px;
    .slide-item{
        .pro-item-small{
            display: flex;
        }
    }
   }
}